---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'
import Cartoon from '../components/Cartoon.astro'
import Contact from '../components/Contact.astro'
---

<Layout title="Tagesmutter in Leipzig - Jeanine Peters">

	<Cartoon class="w-20 h-auto" />
	<main>

		<Section classOutside="bg-lime-400 dark:bg-slate-800" classInside="text-lime-900 dark:text-slate-200 text-xl antialiased" id="kontakt">
			<Contact />
		</Section>

		<Section classOutside="bg-slate-700 dark:bg-slate-800" classInside="text-slate-400 dark:text-slate-400 text-xl antialiased" id="über-mich">
			<h2 class="pt-2 pb-2 text-4xl font-bold">Über mich</h2>

			<p class="pb-4">
				ich bin Jeanine Peters, leidenschaftliche Tagesmutter und gelernte Ergotherapeutin. 
				Seit 8 Jahren unterstütze ich Familien dabei, ihren Kindern einen liebevollen und 
				fördernden Start ins Leben zu ermöglichen. Meine eigenes eingerichtete Wohnung in Leipzig bietet 
				eine warme und sichere Umgebung, in der Kinder im Alter von 1 bis 3 Jahren spielerisch 
				die Welt entdecken.
			</p>

			<p class="pb-4">
				Als Mutter von zwei Kindern verstehe ich die Sorgen und Wünsche, die ihr als 
				Eltern habt. Deshalb lege ich großen Wert auf eine enge und vertrauensvolle 
				Zusammenarbeit mit euch, um eurem Kind die beste Unterstützung auf seinem Weg 
				zu bieten.
			</p>
		</Section>

	</main>
</Layout>
