/*

!/app
!/.editorconfig
!/.env.dist
!/.dockerignore
!/.github
!/.gitignore
!/.rsyncignore
!/bs-config.js
!/docker-compose.yml
!/docker-compose.development.yml
!/Dockerfile
!/LICENSE
!/README.md
!/package.json
!/rootfs/
!/yarn.lock
