---
import Layout from '../../layouts/Layout.astro'
import Section from '../../components/Section.astro'
import Cartoon from '../../components/Cartoon.astro'
import Contact from '../../components/Contact.astro'
---

<Layout title="Tagesmutter in Leipzig - Jeanine Peters">

	<Cartoon class="w-20 h-auto" />
	<main>
		<Section classOutside="bg-lime-400 dark:bg-slate-800" classInside="text-lime-900 dark:text-slate-200 text-xl antialiased" id="kontakt">
			<Contact />
		</Section>

		<Section classOutside="bg-slate-700 dark:bg-slate-800" classInside="text-slate-400 dark:text-slate-400 text-xl antialiased" id="über-mich">
			<h2 class="pt-2 pb-2 text-4xl font-bold">About me</h2>

			<p class="pb-4">
				I am Jeanine Peters, a passionate childminder and qualified occupational therapist. 
				For 8 years I have been supporting families in giving their children a loving and 
				a loving and nurturing start in life. My own furnished flat in Leipzig offers 
				a warm and safe environment in which children aged 1 to 3 years can playfully 
				playfully discover the world.
			</p>

			<p class="pb-4">
				As a mother of two children, I understand the worries and wishes you have as parents. 
				parents have. That's why I attach great importance to a close and trusting 
				cooperation with you in order to offer your child the best support on his or her journey. 
				on its way.
			</p>
		</Section>

	</main>
</Layout>
