---
interface Props {
	title: string
	body: string
	href: string
}

const { href, title, body } = Astro.props
---

<li class="p-5 my-3 bg-gray-800 border border-gray-600 rounded-md">
	<a href={href}>
		<h2 class="pb-1 text-lg font-medium text-gray-400">
			{title}
			<span>&rarr;</span>
		</h2>
		<p class="font-light leading-relaxed text-gray-400">
			{body}
		</p>
	</a>
</li>
