---

---

<div class="container max-w-4xl px-4 md:py-12 mx-auto">
	<picture>
		<img src="/images/kindergarten-full-transparent.png" alt="Jeanine Peters in einem bei der Kindertagespflege mit 5 Kindern" class="w-full h-auto hidden md:block" />
		<img src="/images/kindergarten-cartoon.png" alt="Jeanine Peters in einem bei der Kindertagespflege mit 3 Kindern" class="w-full h-auto block md:hidden " />
	</picture>
</div>
