---
let children = ['1', '2', '3', '4', '5'];
let months = ['Jan', 'Feb', 'Mär', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez'];
let occupancy: { [key: string]: boolean[] } = {
	'1': [true, true, true, true, true, true, true, true, true, true, true, true],
	'2': [false, false, false, true, false, true, false, true, false, true, false, true],
	'3': [true, true, false, false, true, true, false, false, true, true, false, false],
	'4': [false, false, true, true, false, false, true, true, false, false, true, true],
	'5': [true, false, true, false, true, false, true, false, true, false, true, false]
};
---

<table class="w-full border-none table-auto">
	<thead>
		<tr>
			<th class="p-1 border-none"></th>
			{months.map(month => (
				<th class="p-1">{month}</th>
			))}
		</tr>
	</thead>
	<tbody >
		{children.map(child => (
			<tr class="border-none">
				<td class="py-1">{child}</td>
				{months.map((month, index) => (
          <td class="p-0 m-0 align-middle">
						<div class={` py-1 ${occupancy[child][index] ? 'bg-lime-500' : ''}`}></div>
					</td>
        ))}
      </tr>
    ))}
  </tbody>
</table>
