---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<h2 class="pb-2 text-4xl font-bold ">Jeanine Peters</h2>
			<div class="grid grid-cols-1 md:grid-cols-2 md:gap-4">
				<div>
					<h3 class="pt-1 md:pt-8 pb-1 text-xl font-semibold">{t('contact.address')}</h3>
					<address class="pb-1">
						Steinstraße 62<br/>
						04275 Leipzig
					</address>
					<p class="mt-2 md:mb-3 text-sm">
						<a href="https://maps.app.goo.gl/jzU8Tnb2iCeyxCfR6" class="text-slate-800 font-semibold py-2 px-4 bg-lime-200 hover:bg-lime-300 active:bg-lime-300 rounded" target="_blank">Google Maps</a>
					</p>
				</div>

				<div>
					<h3 class="pt-5 md:pt-8 pb-1 text-xl font-semibold">{t('contact.openingHours')}</h3>
					<p class="md:pb-4">
						{t('contact.openingHoursMoFr')}: 8:30 - 15:30 Uhr<br/>
					</p>
				</div>
			</div>

			<h3 class="pt-8 pb-1 text-xl font-semibold">{t('contact.contact')}</h3>
			<div class="flex flex-col md:flex-row justify-around md:space-x-2 space-y-4 md:space-y-0 p-4 md:p-10 text-center bg-slate-700 rounded my-3">
				<a
						href="whatsapp://send?phone=+491639284617"
						class="text-slate-800 bg-[#5FFC7B] hover:bg-[#28D146] focus:ring-4 focus:ring-[#28D146]-300 font-semibold rounded-sm px-4 lg:px-5 py-2 lg:py-2.5 focus:outline-none dark:focus:ring-gray-200"
						>{t('contact.whatsapp')}</a
					>
				<a
						href="tel:+491639284617"
						class="text-slate-800 bg-sky-400 hover:bg-sky-600 focus:ring-4 focus:ring-sky-300 font-semibold rounded-sm px-4 lg:px-5 py-2 lg:py-2.5  focus:outline-none dark:focus:ring-gray-200"
						>{t('contact.call')}</a
					>
				<a
						href="https://t.me/vergissberlin"
						class="text-slate-800 bg-[#27A7E7] hover:bg-[#ffffff] focus:ring-4 focus:ring-[#28D146]-300 font-semibold rounded-sm px-4 lg:px-5 py-2 lg:py-2.5  focus:outline-none dark:focus:ring-gray-200"
						>{t('contact.telegram')}</a
					>
				<a
						href="mailto:peters.jeanine@gmail.com"
						class="text-slate-800 bg-[#EA4335] hover:bg-[#5F6368] focus:ring-4 focus:ring-[#28D146]-300 font-semibold rounded-sm px-4 lg:px-5 py-2 lg:py-2.5  focus:outline-none dark:focus:ring-gray-200"
						>{t('contact.email')}</a
					>
			</div>
			<p class="pb-4 text-sm text-center">
				{t('contact.phone')}: <a href="tel:+491639284617" class="underline">+49 163 9284617</a>,
				{t('contact.email')}: <a href="mailto:peters.jeanine@gmail.com" class="underline">peters.jeanine@gmail.com</a>
			</p>

