---
const currentYear = new Date().getFullYear();
---
<footer class="p-4 bg-white md:p-8 lg:p-10 dark:bg-gray-800">
	<div class="max-w-screen-xl mx-auto text-center">
		<p class="my-6 text-gray-500 dark:text-gray-400">
			<span class="fontet-semibold">Impressum:</span> eanine Peters, Hardenbergstraße 48, 04275 Leipzig
		</p>
		
		<p class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
			© {currentYear} <a href="#" class="hover:underline">Jeanine Peters</a>
		</p>
	</div>
</footer>
