---
const currentYear = new Date().getFullYear();
---
<footer class="p-4 md:p-8 lg:p-10 text-gray-500 dark:bg-gray-800 dark:text-gray-300">
	<div class="max-w-screen-xl mx-auto text-center">
		<p class="my-6">
			<span class="font-semibold">Impressum:</span> Jeanine Peters, Hardenbergstraße 48, 04275 Leipzig
		</p>
		
		<p class="text-sm sm:text-center">
			© {currentYear} <a href="#" class="hover:underline">Jeanine Peters</a>
		</p>
	</div>
</footer>
