---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const currentYear = new Date().getFullYear();
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<footer class="p-4 text-gray-500 md:p-8 lg:p-10 dark:bg-slate-900  dark:text-slate-500">
	<div class="mx-auto text-center max-w-screen-xl">
		<p class="my-6">
			<span class="font-semibold">{t('footer.imprint')}:</span> Jeanine Peters, Hardenbergstraße 48, 04275 Leipzig
		</p>
		
		<p class="text-sm sm:text-center">
			© {currentYear} <a href="#" class="hover:underline">Jeanine Peters</a>
		</p>
	</div>
</footer>
