---

---

<header class="bg-white bg-cover border-b-8 dark:bg-gray-900 border-slate-200" style="background-image: url('/images/leipzig.jpg">
	<div class="px-4 py-8 mx-auto antialiased text-center max-w-screen-xl lg:py-16 lg:px-12">
		<div class="flex flex-col items-center justify-center">
			<img src="/images/jeanine-peters.png" alt="Portrait von Jeanine Peters" class="w-64 h-64 mb-4 border-8 rounded-full  border-slate-300 border-opacity-25" />
		</div>
		<h1
			class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-300 drop-shadow gray-300 md:text-5xl lg:text-6xl dark:text-white"
		>
			Kindertagespflege in Leipzig
		</h1>
		<hr class="inline-block w-2/6 h-1 mb-3" />
		<p class="font-medium drop-shadow text-stone-400"><em class="italic">Jeanine Peters</em> - Ausgebildet Ergotherapheuting</p>
	</div>
</header>
