---
interface Props {
	title: string
}

import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import Jsonld from '../components/Jsonld.astro'
import '../css/styles.css';
const { title } = Astro.props
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={t('document.description')} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<link rel="alternate" hreflang="de" href="/de/" />
		<link rel="alternate" hreflang="en" href="/en/" />
		<link rel="alternate" hreflang="ua" href="/ua/" />
		<link rel="manifest" href="/manifest.json">
		<title>{title}</title>
	</head>
	<body class="bg-gray-100 dark:bg-slate-800">
		<Header />
		<Hero />
		<slot />
		<Footer />
		<Jsonld />
	</body>
</html>
