---
import Layout from '../../layouts/Layout.astro'
import Section from '../../components/Section.astro'
import Cartoon from '../../components/Cartoon.astro'
import Contact from '../../components/Contact.astro'
---

<Layout title="Няня в Лейпцигу - Жанін Петерс">

	<Cartoon class="w-20 h-auto" />
	<main>

		<Section classOutside="bg-lime-400 dark:bg-slate-800" classInside="text-lime-900 dark:text-slate-200 text-xl antialiased" id="kontakt">
			<Contact />
		</Section>

		<Section classOutside="bg-slate-700 dark:bg-slate-900" classInside="text-slate-400 dark:text-slate-400 text-xl antialiased" id="über-mich">
			<h2 class="pt-2 pb-2 text-4xl font-bold">Про мене</h2>

			<p class="pb-4">
				Я Жанін Пітерс, пристрасна няня та кваліфікований ерготерапевт. 
				Протягом 8 років я допомагаю сім'ям давати своїм дітям люблячий і 
				любов'ю та піклуванням початок життя. Моя власна мебльована квартира в Лейпцигу пропонує 
				тепле і безпечне середовище, в якому діти у віці від 1 до 3 років можуть в ігровій формі 
				в ігровій формі відкривати для себе світ.
			</p>

			<p class="pb-4">
				Як мати двох дітей, я розумію ваші батьківські турботи і бажання. 
				як і всі батьки. Саме тому я надаю великого значення тісній та довірливій 
				співпраці з вами, щоб запропонувати вашій дитині найкращу підтримку на її життєвому шляху. 
				на її шляху.
			</p>
		</Section>

	</main>
</Layout>
